.App {
  text-align: center;
  color: red;
  margin:0; padding:0
}

html, body {
  margin:0;
  padding:0;
  height: 100%;
  background-color: pink;
}
h1 {
  margin:0;
}

.movieItem {
  color: red;
}

.itemBtn{
  color: hotpink;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

titleInput{}

genreInput{}

descriptionInput{}

posterInput{}

.inputField{

}

.movieItem {
  display: inline-block; 
  flex: auto;
}

#addBtn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    bottom: 95%;
    left: 80%;
    position: sticky;
  }

  textarea { vertical-align: top; }

  .AddMoviesForm {
    background-color: green;
  }
